header {
  font-family: "Jomolhari", serif;
}

body {
  background-color: #a28089;
  /* background-color: #84a59d; */
}

h1 {
  font-family: "Jomolhari", serif;
  background-color: teal;
  padding: 16px;
  margin-bottom: 5px;
}

main {
  font-family: "Jomolhari", serif;
  margin-top: -5px;
  background-color: #a28089;
  /* background-color: #00a0a0; */
}

.navBar {
  background-color: #00a0a0;
}

#logout {
  /* background-color: #00a0a0; */
  background-color: #84a59d;
}

.btn {
  background-color: #ffb3c6;
}

.card-header {
  background-color: #e5eaf5;
  /* background-color: #f5cac3; */

}

.card-body {
  background-color: #ffe5ec;
  /* background-color: #f7ede2; */
}

.card {
  background-color: #ffe5ec;
  /* background-color: #f7ede2; */
}

.homepage-main {
  margin-top: 34px;
}

.user-name {
  background-color: #84a59d;
}

.blogPost-main {
  margin-top: 34px;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0.3s ease;
}
